In [11]:
import pandas as pd
import numpy as np

In [10]:
df=pd.read_excel("Employee_data DA 1.xlsx")
print("---DATAFRAME---")
print(df)

---DATAFRAME---
    Employee_ID              Name   Department    Age    Salary  Join_Date
0           101          John Doe  Engineering   28.0   75000.0 2021-01-15
1           102        Jane Smith    Marketing   34.0   82000.0 2019-03-12
2           103      Mike Johnson  Engineering    NaN   90000.0 2020-06-01
3           104    Sarah Williams           HR   29.0   62000.0 2022-02-20
4           105      Robert Brown        Sales   45.0   55000.0 2018-11-10
5           101          John Doe  Engineering   28.0   75000.0 2021-01-15
6           106       Emily Davis    Marketing   31.0       NaN 2021-07-22
7           107      Chris Miller        Sales   22.0   48000.0 2023-01-05
8           108       Anna Taylor           HR  205.0   72000.0 2020-10-15
9           109      David Wilson  Engineering   40.0  120000.0 2015-05-19
10          110       Linda Moore        Sales   37.0   64000.0 2017-08-30
11          111    James Anderson          ???   29.0   59000.0 2022-04-12
12          112    Barbara Thomas    Marketing   33.0   78000.0 2019-09-01
13          113   Richard Jackson        Sales   42.0  850000.0 2016-12-11
14          114       Susan White  Engineering   38.0   95000.0 2014-02-28
15          115     Joseph Harris           HR   26.0   51000.0 2023-03-15
16          112    Barbara Thomas    Marketing   33.0   78000.0 2019-09-01
17          116     Thomas Martin        Sales   50.0   71000.0 2012-06-25
18          117  Jessica Thompson  Engineering   30.0       NaN 2021-11-05
19          118     Daniel Garcia    Marketing   27.0   69000.0 2022-08-14
20          119    Nancy Martinez        Sales   -5.0   63000.0 2018-04-10
21          120     Paul Robinson  Engineering   35.0   88000.0 2016-01-20
22          121      Steven Clark           HR   32.0   60000.0 2020-02-14
23          122   Karen Rodriguez        Sales   41.0   67000.0 2017-10-05
24          123      Edward Lewis    Marketing   29.0   74000.0 2021-09-12
25          124         Betty Lee  Engineering   19.0   52000.0 2023-06-01
26          125      Kevin Walker        Sales   36.0   65000.0 2018-03-22
27          126      Dorothy Hall           HR    NaN   58000.0 2020-11-30
28          127       Jason Young  Engineering   44.0  115000.0 2014-07-18
29          128        Alice King    Marketing   31.0   80000.0 2019-05-05
30          128        Alice King    Marketing   31.0   80000.0 2019-05-05
31          129      Brian Wright        Sales   25.0   49000.0 2022-12-01
32          130         Amy Lopez  Engineering   33.0   92000.0 2015-10-10
33          131        Scott Hill        Sales   47.0   73000.0 2011-09-15
34          132       Donna Scott           HR   24.0   50000.0 2023-05-20
35          133        Eric Green    Marketing   30.0   77000.0 2020-04-18
36          134      Justin Adams        ERROR   39.0   89000.0 2016-08-12
37          135    Michelle Baker        Sales   28.0   62000.0 2021-02-14
38          136  Raymond Gonzalez  Engineering   43.0  110000.0 2013-12-01
39          137      Laura Nelson    Marketing   32.0   79000.0 2019-12-15
40          138    Patrick Carter           HR   31.0   61000.0 2020-07-07
41          139    Carol Mitchell        Sales   38.0   66000.0 2017-05-25
42          140        Jack Perez  Engineering   29.0  999999.0 2021-03-30
43          141    Brenda Roberts    Marketing   34.0   81000.0 2018-09-10
44          142     Samuel Turner        Sales   23.0   47000.0 2023-02-14
45          143  Gregory Phillips  Engineering   36.0   91000.0 2016-04-20
46          144   Rachel Campbell           HR   27.0   53000.0 2022-01-10
47          145     Andrew Parker        Sales   41.0   68000.0 2017-11-12
48          146       Janet Evans    Marketing   35.0   83000.0 2018-06-30
49          147    Joshua Edwards  Engineering   30.0   87000.0 2020-08-22

In [15]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

# Assuming 'Employee_data DA 1.xlsx' is available in the environment
df = pd.read_excel("Employee_data DA 1.xlsx")

# Create a copy of the dataframe to keep the original safe
df_simple = df.copy()

# Identify numerical columns for imputation
numerical_cols = df_simple.select_dtypes(include=np.number).columns

# Initialize the imputer (strategy can be 'mean', 'median', 'most_frequent', 'constant')
imputer = SimpleImputer(strategy='mean')

# Fit and transform only the numerical columns
df_simple[numerical_cols] = imputer.fit_transform(df_simple[numerical_cols])

print("\n--- Simple Imputation (Mean) ---")
print(df_simple)

--- Simple Imputation (Mean) ---
    Employee_ID              Name   Department       Age         Salary  \
0         101.0          John Doe  Engineering   28.0000   75000.000000
1         102.0        Jane Smith    Marketing   34.0000   82000.000000
2         103.0      Mike Johnson  Engineering   35.9375   90000.000000
3         104.0    Sarah Williams           HR   29.0000   62000.000000
4         105.0      Robert Brown        Sales   45.0000   55000.000000
5         101.0          John Doe  Engineering   28.0000   75000.000000
6         106.0       Emily Davis    Marketing   31.0000  108624.979167
7         107.0      Chris Miller        Sales   22.0000   48000.000000
8         108.0       Anna Taylor           HR  205.0000   72000.000000
9         109.0      David Wilson  Engineering   40.0000  120000.000000
10        110.0       Linda Moore        Sales   37.0000   64000.000000
11        111.0    James Anderson          ???   29.0000   59000.000000
12        112.0    Barbara Thomas    Marketing   33.0000   78000.000000
13        113.0   Richard Jackson        Sales   42.0000  850000.000000
14        114.0       Susan White  Engineering   38.0000   95000.000000
15        115.0     Joseph Harris           HR   26.0000   51000.000000
16        112.0    Barbara Thomas    Marketing   33.0000   78000.000000
17        116.0     Thomas Martin        Sales   50.0000   71000.000000
18        117.0  Jessica Thompson  Engineering   30.0000  108624.979167
19        118.0     Daniel Garcia    Marketing   27.0000   69000.000000
20        119.0    Nancy Martinez        Sales   -5.0000   63000.000000
21        120.0     Paul Robinson  Engineering   35.0000   88000.000000
22        121.0      Steven Clark           HR   32.0000   60000.000000
23        122.0   Karen Rodriguez        Sales   41.0000   67000.000000
24        123.0      Edward Lewis    Marketing   29.0000   74000.000000
25        124.0         Betty Lee  Engineering   19.0000   52000.000000
26        125.0      Kevin Walker        Sales   36.0000   65000.000000
27        126.0      Dorothy Hall           HR   35.9375   58000.000000
28        127.0       Jason Young  Engineering   44.0000  115000.000000
29        128.0        Alice King    Marketing   31.0000   80000.000000
30        128.0        Alice King    Marketing   31.0000   80000.000000
31        129.0      Brian Wright        Sales   25.0000   49000.000000
32        130.0         Amy Lopez  Engineering   33.0000   92000.000000
33        131.0        Scott Hill        Sales   47.0000   73000.000000
34        132.0       Donna Scott           HR   24.0000   50000.000000
35        133.0        Eric Green    Marketing   30.0000   77000.000000
36        134.0      Justin Adams        ERROR   39.0000   89000.000000
37        135.0    Michelle Baker        Sales   28.0000   62000.000000
38        136.0  Raymond Gonzalez  Engineering   43.0000  110000.000000
39        137.0      Laura Nelson    Marketing   32.0000   79000.000000
40        138.0    Patrick Carter           HR   31.0000   61000.000000
41        139.0    Carol Mitchell        Sales   38.0000   66000.000000
42        140.0        Jack Perez  Engineering   29.0000  999999.000000
43        141.0    Brenda Roberts    Marketing   34.0000   81000.000000
44        142.0     Samuel Turner        Sales   23.0000   47000.000000
45        143.0  Gregory Phillips  Engineering   36.0000   91000.000000
46        144.0   Rachel Campbell           HR   27.0000   53000.000000
47        145.0     Andrew Parker        Sales   41.0000   68000.000000
48        146.0       Janet Evans    Marketing   35.0000   83000.000000
49        147.0    Joshua Edwards  Engineering   30.0000   87000.000000

    Join_Date
0  2021-01-15
1  2019-03-12
2  2020-06-01
3  2022-02-20
4  2018-11-10
5  2021-01-15
6  2021-07-22
7  2023-01-05
8  2020-10-15
9  2015-05-19
10 2017-08-30
11 2022-04-12
12 2019-09-01
13 2016-12-11
14 2014-02-28
15 2023-03-15
16 2019-09-01
17 2012-06-25
18 2021-11-05
19 2022-08-14
20 2018-04-10
21 2016-01-20
22 2020-02-14
23 2017-10-05
24 2021-09-12
25 2023-06-01
26 2018-03-22
27 2020-11-30
28 2014-07-18
29 2019-05-05
30 2019-05-05
31 2022-12-01
32 2015-10-10
33 2011-09-15
34 2023-05-20
35 2020-04-18
36 2016-08-12
37 2021-02-14
38 2013-12-01
39 2019-12-15
40 2020-07-07
41 2017-05-25
42 2021-03-30
43 2018-09-10
44 2023-02-14
45 2016-04-20
46 2022-01-10
47 2017-11-12
48 2018-06-30
49 2020-08-22

In [17]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer

# Assuming 'Employee_data DA 1.xlsx' is available in the environment
df=pd.read_excel("Employee_data DA 1.xlsx")

df_knn = df.copy()

# Separate numerical and non-numerical columns
numerical_cols = df_knn.select_dtypes(include=np.number).columns
non_numerical_cols = df_knn.select_dtypes(exclude=np.number).columns

# Initialize KNN Imputer
# n_neighbors=3 means it looks at the 3 most similar rows
knn_imputer = KNNImputer(n_neighbors=3)

# Apply KNN Imputer only to numerical columns
df_knn_imputed_numerical = pd.DataFrame(knn_imputer.fit_transform(df_knn[numerical_cols]), columns=numerical_cols)

# Combine the imputed numerical columns with the original non-numerical columns
df_knn_imputed = pd.concat([df_knn_imputed_numerical, df_knn[non_numerical_cols]], axis=1)

print("\n--- KNN Imputation ---")
print(df_knn_imputed)

--- KNN Imputation ---
    Employee_ID         Age    Salary              Name   Department  \
0         101.0   28.000000   75000.0          John Doe  Engineering
1         102.0   34.000000   82000.0        Jane Smith    Marketing
2         103.0   33.333333   90000.0      Mike Johnson  Engineering
3         104.0   29.000000   62000.0    Sarah Williams           HR
4         105.0   45.000000   55000.0      Robert Brown        Sales
5         101.0   28.000000   75000.0          John Doe  Engineering
6         106.0   31.000000   78000.0       Emily Davis    Marketing
7         107.0   22.000000   48000.0      Chris Miller        Sales
8         108.0  205.000000   72000.0       Anna Taylor           HR
9         109.0   40.000000  120000.0      David Wilson  Engineering
10        110.0   37.000000   64000.0       Linda Moore        Sales
11        111.0   29.000000   59000.0    James Anderson          ???
12        112.0   33.000000   78000.0    Barbara Thomas    Marketing
13        113.0   42.000000  850000.0   Richard Jackson        Sales
14        114.0   38.000000   95000.0       Susan White  Engineering
15        115.0   26.000000   51000.0     Joseph Harris           HR
16        112.0   33.000000   78000.0    Barbara Thomas    Marketing
17        116.0   50.000000   71000.0     Thomas Martin        Sales
18        117.0   30.000000   60000.0  Jessica Thompson  Engineering
19        118.0   27.000000   69000.0     Daniel Garcia    Marketing
20        119.0   -5.000000   63000.0    Nancy Martinez        Sales
21        120.0   35.000000   88000.0     Paul Robinson  Engineering
22        121.0   32.000000   60000.0      Steven Clark           HR
23        122.0   41.000000   67000.0   Karen Rodriguez        Sales
24        123.0   29.000000   74000.0      Edward Lewis    Marketing
25        124.0   19.000000   52000.0         Betty Lee  Engineering
26        125.0   36.000000   65000.0      Kevin Walker        Sales
27        126.0   30.000000   58000.0      Dorothy Hall           HR
28        127.0   44.000000  115000.0       Jason Young  Engineering
29        128.0   31.000000   80000.0        Alice King    Marketing
30        128.0   31.000000   80000.0        Alice King    Marketing
31        129.0   25.000000   49000.0      Brian Wright        Sales
32        130.0   33.000000   92000.0         Amy Lopez  Engineering
33        131.0   47.000000   73000.0        Scott Hill        Sales
34        132.0   24.000000   50000.0       Donna Scott           HR
35        133.0   30.000000   77000.0        Eric Green    Marketing
36        134.0   39.000000   89000.0      Justin Adams        ERROR
37        135.0   28.000000   62000.0    Michelle Baker        Sales
38        136.0   43.000000  110000.0  Raymond Gonzalez  Engineering
39        137.0   32.000000   79000.0      Laura Nelson    Marketing
40        138.0   31.000000   61000.0    Patrick Carter           HR
41        139.0   38.000000   66000.0    Carol Mitchell        Sales
42        140.0   29.000000  999999.0        Jack Perez  Engineering
43        141.0   34.000000   81000.0    Brenda Roberts    Marketing
44        142.0   23.000000   47000.0     Samuel Turner        Sales
45        143.0   36.000000   91000.0  Gregory Phillips  Engineering
46        144.0   27.000000   53000.0   Rachel Campbell           HR
47        145.0   41.000000   68000.0     Andrew Parker        Sales
48        146.0   35.000000   83000.0       Janet Evans    Marketing
49        147.0   30.000000   87000.0    Joshua Edwards  Engineering

    Join_Date
0  2021-01-15
1  2019-03-12
2  2020-06-01
3  2022-02-20
4  2018-11-10
5  2021-01-15
6  2021-07-22
7  2023-01-05
8  2020-10-15
9  2015-05-19
10 2017-08-30
11 2022-04-12
12 2019-09-01
13 2016-12-11
14 2014-02-28
15 2023-03-15
16 2019-09-01
17 2012-06-25
18 2021-11-05
19 2022-08-14
20 2018-04-10
21 2016-01-20
22 2020-02-14
23 2017-10-05
24 2021-09-12
25 2023-06-01
26 2018-03-22
27 2020-11-30
28 2014-07-18
29 2019-05-05
30 2019-05-05
31 2022-12-01
32 2015-10-10
33 2011-09-15
34 2023-05-20
35 2020-04-18
36 2016-08-12
37 2021-02-14
38 2013-12-01
39 2019-12-15
40 2020-07-07
41 2017-05-25
42 2021-03-30
43 2018-09-10
44 2023-02-14
45 2016-04-20
46 2022-01-10
47 2017-11-12
48 2018-06-30
49 2020-08-22

In [19]:
from sklearn.experimental import enable_iterative_imputer  # Explicitly enable
from sklearn.impute import IterativeImputer
import pandas as pd
import numpy as np

# Assuming 'Employee_data DA 1.xlsx' is available in the environment
df = pd.read_excel("Employee_data DA 1.xlsx")

df_mice = df.copy()

# Separate numerical and non-numerical columns
numerical_cols = df_mice.select_dtypes(include=np.number).columns
non_numerical_cols = df_mice.select_dtypes(exclude=np.number).columns

# Initialize MICE Imputer
# random_state ensures reproducibility
mice_imputer = IterativeImputer(max_iter=10, random_state=0)

# Apply MICE Imputer only to numerical columns
df_mice_imputed_numerical = pd.DataFrame(mice_imputer.fit_transform(df_mice[numerical_cols]), columns=numerical_cols)

# Combine the imputed numerical columns with the original non-numerical columns
df_mice_imputed = pd.concat([df_mice_imputed_numerical, df_mice[non_numerical_cols]], axis=1)

print("\n--- MICE (Iterative) Imputation ---")
print(df_mice_imputed)

--- MICE (Iterative) Imputation ---
    Employee_ID         Age         Salary              Name   Department  \
0         101.0   28.000000   75000.000000          John Doe  Engineering
1         102.0   34.000000   82000.000000        Jane Smith    Marketing
2         103.0   35.927008   90000.000000      Mike Johnson  Engineering
3         104.0   29.000000   62000.000000    Sarah Williams           HR
4         105.0   45.000000   55000.000000      Robert Brown        Sales
5         101.0   28.000000   75000.000000          John Doe  Engineering
6         106.0   31.000000  108624.976187       Emily Davis    Marketing
7         107.0   22.000000   48000.000000      Chris Miller        Sales
8         108.0  205.000000   72000.000000       Anna Taylor           HR
9         109.0   40.000000  120000.000000      David Wilson  Engineering
10        110.0   37.000000   64000.000000       Linda Moore        Sales
11        111.0   29.000000   59000.000000    James Anderson          ???
12        112.0   33.000000   78000.000000    Barbara Thomas    Marketing
13        113.0   42.000000  850000.000000   Richard Jackson        Sales
14        114.0   38.000000   95000.000000       Susan White  Engineering
15        115.0   26.000000   51000.000000     Joseph Harris           HR
16        112.0   33.000000   78000.000000    Barbara Thomas    Marketing
17        116.0   50.000000   71000.000000     Thomas Martin        Sales
18        117.0   30.000000  108624.977945  Jessica Thompson  Engineering
19        118.0   27.000000   69000.000000     Daniel Garcia    Marketing
20        119.0   -5.000000   63000.000000    Nancy Martinez        Sales
21        120.0   35.000000   88000.000000     Paul Robinson  Engineering
22        121.0   32.000000   60000.000000      Steven Clark           HR
23        122.0   41.000000   67000.000000   Karen Rodriguez        Sales
24        123.0   29.000000   74000.000000      Edward Lewis    Marketing
25        124.0   19.000000   52000.000000         Betty Lee  Engineering
26        125.0   36.000000   65000.000000      Kevin Walker        Sales
27        126.0   35.909866   58000.000000      Dorothy Hall           HR
28        127.0   44.000000  115000.000000       Jason Young  Engineering
29        128.0   31.000000   80000.000000        Alice King    Marketing
30        128.0   31.000000   80000.000000        Alice King    Marketing
31        129.0   25.000000   49000.000000      Brian Wright        Sales
32        130.0   33.000000   92000.000000         Amy Lopez  Engineering
33        131.0   47.000000   73000.000000        Scott Hill        Sales
34        132.0   24.000000   50000.000000       Donna Scott           HR
35        133.0   30.000000   77000.000000        Eric Green    Marketing
36        134.0   39.000000   89000.000000      Justin Adams        ERROR
37        135.0   28.000000   62000.000000    Michelle Baker        Sales
38        136.0   43.000000  110000.000000  Raymond Gonzalez  Engineering
39        137.0   32.000000   79000.000000      Laura Nelson    Marketing
40        138.0   31.000000   61000.000000    Patrick Carter           HR
41        139.0   38.000000   66000.000000    Carol Mitchell        Sales
42        140.0   29.000000  999999.000000        Jack Perez  Engineering
43        141.0   34.000000   81000.000000    Brenda Roberts    Marketing
44        142.0   23.000000   47000.000000     Samuel Turner        Sales
45        143.0   36.000000   91000.000000  Gregory Phillips  Engineering
46        144.0   27.000000   53000.000000   Rachel Campbell           HR
47        145.0   41.000000   68000.000000     Andrew Parker        Sales
48        146.0   35.000000   83000.000000       Janet Evans    Marketing
49        147.0   30.000000   87000.000000    Joshua Edwards  Engineering

    Join_Date
0  2021-01-15
1  2019-03-12
2  2020-06-01
3  2022-02-20
4  2018-11-10
5  2021-01-15
6  2021-07-22
7  2023-01-05
8  2020-10-15
9  2015-05-19
10 2017-08-30
11 2022-04-12
12 2019-09-01
13 2016-12-11
14 2014-02-28
15 2023-03-15
16 2019-09-01
17 2012-06-25
18 2021-11-05
19 2022-08-14
20 2018-04-10
21 2016-01-20
22 2020-02-14
23 2017-10-05
24 2021-09-12
25 2023-06-01
26 2018-03-22
27 2020-11-30
28 2014-07-18
29 2019-05-05
30 2019-05-05
31 2022-12-01
32 2015-10-10
33 2011-09-15
34 2023-05-20
35 2020-04-18
36 2016-08-12
37 2021-02-14
38 2013-12-01
39 2019-12-15
40 2020-07-07
41 2017-05-25
42 2021-03-30
43 2018-09-10
44 2023-02-14
45 2016-04-20
46 2022-01-10
47 2017-11-12
48 2018-06-30
49 2020-08-22

In [20]:
df_time = df.copy()

# Forward Fill
df_ffill = df_time.ffill()

# Backward Fill
df_bfill = df_time.bfill()

# Linear Interpolation (Connecting the dots)
# This assumes a linear relationship between time steps
df_interp = df_time.interpolate(method='linear')

print("\n--- Time Series: Linear Interpolation ---")
print(df_interp)

--- Time Series: Linear Interpolation ---
    Employee_ID              Name   Department    Age    Salary  Join_Date
0           101          John Doe  Engineering   28.0   75000.0 2021-01-15
1           102        Jane Smith    Marketing   34.0   82000.0 2019-03-12
2           103      Mike Johnson  Engineering   31.5   90000.0 2020-06-01
3           104    Sarah Williams           HR   29.0   62000.0 2022-02-20
4           105      Robert Brown        Sales   45.0   55000.0 2018-11-10
5           101          John Doe  Engineering   28.0   75000.0 2021-01-15
6           106       Emily Davis    Marketing   31.0   61500.0 2021-07-22
7           107      Chris Miller        Sales   22.0   48000.0 2023-01-05
8           108       Anna Taylor           HR  205.0   72000.0 2020-10-15
9           109      David Wilson  Engineering   40.0  120000.0 2015-05-19
10          110       Linda Moore        Sales   37.0   64000.0 2017-08-30
11          111    James Anderson          ???   29.0   59000.0 2022-04-12
12          112    Barbara Thomas    Marketing   33.0   78000.0 2019-09-01
13          113   Richard Jackson        Sales   42.0  850000.0 2016-12-11
14          114       Susan White  Engineering   38.0   95000.0 2014-02-28
15          115     Joseph Harris           HR   26.0   51000.0 2023-03-15
16          112    Barbara Thomas    Marketing   33.0   78000.0 2019-09-01
17          116     Thomas Martin        Sales   50.0   71000.0 2012-06-25
18          117  Jessica Thompson  Engineering   30.0   70000.0 2021-11-05
19          118     Daniel Garcia    Marketing   27.0   69000.0 2022-08-14
20          119    Nancy Martinez        Sales   -5.0   63000.0 2018-04-10
21          120     Paul Robinson  Engineering   35.0   88000.0 2016-01-20
22          121      Steven Clark           HR   32.0   60000.0 2020-02-14
23          122   Karen Rodriguez        Sales   41.0   67000.0 2017-10-05
24          123      Edward Lewis    Marketing   29.0   74000.0 2021-09-12
25          124         Betty Lee  Engineering   19.0   52000.0 2023-06-01
26          125      Kevin Walker        Sales   36.0   65000.0 2018-03-22
27          126      Dorothy Hall           HR   40.0   58000.0 2020-11-30
28          127       Jason Young  Engineering   44.0  115000.0 2014-07-18
29          128        Alice King    Marketing   31.0   80000.0 2019-05-05
30          128        Alice King    Marketing   31.0   80000.0 2019-05-05
31          129      Brian Wright        Sales   25.0   49000.0 2022-12-01
32          130         Amy Lopez  Engineering   33.0   92000.0 2015-10-10
33          131        Scott Hill        Sales   47.0   73000.0 2011-09-15
34          132       Donna Scott           HR   24.0   50000.0 2023-05-20
35          133        Eric Green    Marketing   30.0   77000.0 2020-04-18
36          134      Justin Adams        ERROR   39.0   89000.0 2016-08-12
37          135    Michelle Baker        Sales   28.0   62000.0 2021-02-14
38          136  Raymond Gonzalez  Engineering   43.0  110000.0 2013-12-01
39          137      Laura Nelson    Marketing   32.0   79000.0 2019-12-15
40          138    Patrick Carter           HR   31.0   61000.0 2020-07-07
41          139    Carol Mitchell        Sales   38.0   66000.0 2017-05-25
42          140        Jack Perez  Engineering   29.0  999999.0 2021-03-30
43          141    Brenda Roberts    Marketing   34.0   81000.0 2018-09-10
44          142     Samuel Turner        Sales   23.0   47000.0 2023-02-14
45          143  Gregory Phillips  Engineering   36.0   91000.0 2016-04-20
46          144   Rachel Campbell           HR   27.0   53000.0 2022-01-10
47          145     Andrew Parker        Sales   41.0   68000.0 2017-11-12
48          146       Janet Evans    Marketing   35.0   83000.0 2018-06-30
49          147    Joshua Edwards  Engineering   30.0   87000.0 2020-08-22

/tmp/ipython-input-971798297.py:11: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_interp = df_time.interpolate(method='linear')